body {
	background-color: #8FBEF5;
	margin: 0 0 0 0;
	font-family: 'Muli', sans-serif;
}

.nav {
	height: 50px;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.nav > a {
	display: inline-block;
	line-height: 50px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: .5px;
	font-weight: 100;
	font-size: 15px;
	text-decoration: none;
	position: relative;
}

.nav > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.nav > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover {
	cursor: pointer;
}

#main-img {
	display: inline-block;
	margin-left: 10%;
	width: 450px;
	margin-top: 200px;
	opacity: 0;
}

.info {
	display: inline-block;
	width: 50%;
	margin-top: 200px;
	float: right;
}

.title {
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 60px;
	opacity: 0;
}

.description {
	width: 95%;
	color: white;
	float: left;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	font-style: italic;
	letter-spacing: .5px;
	opacity: 0;
}

.footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	text-align: center;
	margin: 0 auto;
}

.icons {
	height: 50px;
	position: relative;
	display: inline-block;
}

.icons > a > img {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.icons > img:hover {
	cursor: pointer;
}

#fb {
	width: 12px;
}

#insta {
	width: 22px;
}

#linkedin {
	width: 25px;
}

#email {
	width: 30px;
}

@media (max-width: 1125px) {
	.title {
		font-size: 50px;
	}

	#main-img {
		margin-left: 10%;
		width: 350px;
	}
}

@media (max-width: 925px) {
	.title {
		font-size: 45px;
		margin-top: 0px;
	}

	.info {
		width: 100vw;
		margin: 0 auto;
		text-align: center;
	}

	.description {
		width: 100vw;
		margin: 0 auto;
		text-align: center;
	}


	#main-img {
		margin: 0 auto;
		display: block;
		width: 400px;
		margin-top: 150px;
	}
}