
/* COLORS

light yellow - #fdf8ed
green - #76C51F
dark gray - #808080

*/

body {
	font-family: 'Oswald', sans-serif;
	background-color: #eafbfb;
	margin: 0 0 0 0 ;
}

#song-title {
	color: black;
    font-size: 50px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;
    letter-spacing: .5px;
    display: inline-block;

    background-color: #71c118;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

#song-artist {
	letter-spacing: .5px;
	font-size: 30px;
	color: #808080;
	margin-left: 20px;
	font-weight: 300;
	display: inline-block;

	background-color: #808080;
	font-weight: 400;
	padding-right: 5px;
	padding-left: 5px;
	color: white;
	padding-top: 10px;

}

#song-key {
/*	margin-top: 20px;
    margin-left: 20px;*/
    display: inline-block;

    float: right;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    transform: translate(0, -130px);
    font-size: 50px;
    background-color: #76C51F;
}

footer {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	padding-bottom: 5px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#rec-section {
	width: 100vw;
	height: 325px;
	position: absolute;
	bottom: 30px;
	padding-left: 10px;
}

.song-wrapper {
	width: 33vw;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.song-item {
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 5px #888888;
	width: 420px;
	font-family: 'Oswald', sans-serif;
	padding-left:20px;
	height: 58px;
	transition: .2s ease-out;
	background-color: white;
	display: inline-block;
	position: relative;
	padding-right:15px;
}

.song-item > a {
	text-decoration: none;
}

.song-title {
	font-size: 1.2em;
	line-height: 60px;
	float: left;
	letter-spacing: 0.5px;
	font-weight: 400;
	color: black !important;
}

.song-key {
	float: right;
	font-size: 1.2em;
	line-height: 60px;
	padding-right: 5px;
	color: #76C51F;
	font-weight: 400;
}

.song-info {
	float: right;
	font-size: 1em;
	line-height: 60px !important;
	color: #ff7f7f;
	transform: translate(0, 1.5px);
}

.song-artist {
	float: left;
    line-height: 60px;
    font-size: 1em;
    color: #808080;
    padding-top: 1px;
    padding-left: 5px;
}

.song-item:hover {
	transition: .1s ease-in;
	background-color: #e5e5e5;
	cursor: pointer;
}

#refresh {
	position: absolute;
	width: 150px;
	height: 45px;
	background-color: #76C51F;
	line-height:45px;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-left: 20px;
	box-shadow: 0px 2px 5px #888888;
	transition: .1s ease-out ;
	transform: translate(0, 175px);
}

#refresh:hover {
	cursor: pointer;
	box-shadow: none;
	transition: .1s ease-in ;
}

#back {
	margin-left:20px;
}

iframe {
	border: none;
}

#iframe-wrapper {
	top: 45px;
	right: 10px;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.download {
	float: right;
	background-color: #808080;
	width: 150px;
	height: 45px;
	line-height:45px;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0px 2px 5px #888888;
	transition: .1s ease-out ;
}

#download-wrapper {
	margin-right: 10px;
	width: 350px;
	position: absolute !important;
	right: 0 !important;
	transform: translate(0, 175px);
}

.download:hover {
	cursor: pointer;
	box-shadow: none;
	transition: .1s ease-in ;
}

